body {
  font-family: sans-serif;
  background: #212121;
  color: #F2F2F2;
  font-weight: bold;
  font-size: 2.3rem;
  padding: 0;
  margin: 0;
  overflow: none;
}

.container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .title {
  font-size: 1rem;
  color: orange;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  display: block;
  top: 50px;
  width: 100%;
}

.container .question-counter .qc-form {
  display: none;
}

.container .question-counter .qc-form input {
  background: #CCC;
  border: 0;
  font-size: 0.9rem;
  font-weight: normal;
  padding: 5px 10px;
  color: #212121;
}

.input-error {
  box-shadow: inset 0px 0px 50px firebrick;
}

.container .question-counter {
  font-size: 1.6rem;
  position: relative;
  top: -50px;
  cursor: pointer;
  display: flex;
}

.container .question-counter.form-visible .qc-status {
  display: none;
}

.container .question-counter.form-visible .qc-form {
  display: block;
}

.container .question {
  height: auto;
}

.container .answer {
  margin-top: 40px;
  color: #FFF;
  display: none;
  height: 100px;
}

.container .answer.visible {
  display: block;
  color: #CCC !important;
  font-size: 1.3rem;
}

.container .helpers {
  font-size: 1rem;
  color: #CCC;
  position: absolute;
  text-align: center;
  display: block;
  bottom: 50px;
  width: 100%;
}

.container .m-helpers {
  display: none;
}

@media screen and (max-width: 620px) {
  .container .question-counter {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
  }

  .container .helpers {
    display: none;
  }

  .container .question {
    margin-top: -10px;
    font-size: 2.3rem;
  }

  .container .answer {
    font-size: 1.3rem;
  }

  .container .m-helpers {
    position: absolute;
    bottom: 25px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .container .m-helpers .show-answer {
    font-size: 1.2rem;
    padding-top: 5px;
  }

  .container .m-helpers .next, .container .m-helpers .prev {
    padding: 15px;
  }
}
